/*general styles*/
*{
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary: #1c2a38;
    --secondary:#2d8cff;
    --accent1:#ff7a30;
    --accent2:#0e0e0f;
    --background: #e6e8eb;
}
body{
    height:100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
/* nav styles*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color:var(--primary);
}
img[src="images/logo.png"]{
    height:75px;
    padding:0;
    margin:0;
    border-radius:15px;
}
nav>a{
    background-color:var(--secondary);
    color:white;
    border-radius:10px;
    padding:10px 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
nav :first-child{
    background-color:transparent;
}
/*homes page*/
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;
    padding:20px 0;
}
div.feat-car{
    display:flex;
    justify-content:space-between;
    align-items:space-between;
    width:92vw;
    justify-self:center; 
}
footer{
    display:flex;
    background-color: black;
    color:white;
    height:10vh;
    justify-content:center;
    align-items:center;
    width:100%;
    position:absolute;
    z-index:-1;
    margin-top:100%;
}
footer>*{
    padding-left:2%;
}
footer>a{
    text-decoration:underline;
}
/*encyclopedia*/
.make-container{
    width:90vw;
    display:grid;
    grid-template-columns:repeat(4, 25%);
    color:white;
}
.make-container>a{
    background-color:var(--accent1);
    margin:10%;
    display:flex;
}
a>img{
    height:100px;
}
a>h3{
    align-self:center;
    padding-left:15%;
}
/*bmw*/
.bmw-main{
    display:flex;
}
.car-logo{
    height:250px;
    margin-left:5%
}
.flag{
    width:15%;
    height:10%;
    margin-left:40%;
}
.spec-make-cont{
    display:flex;
    align-items:center;
}
strong{
    font-size:30px;    
}
.model-container{
    display:grid;
    grid-template-columns: 50% 50%;
    width:80vw; 
}
.model{
    display:flex;
    flex-flow:column;
    justify-content:center;
    margin-top:15%;
    text-align:center;
}
.variant-1>img{
    width:90%;
    height:100%;
    border-radius:20px;
}
/*3 series*/
.variant-container{
    display:grid;
    grid-template-columns:50% 50%;
    width:80vw;
    height:100vh;
}
.variant-container>div{
    height:50%;
    text-align:center;
}
.E30>img{
    width: 85%;
    height:auto;
    border-radius:25px;
}
.type-1>img{
    width:100%;
    height:auto;
    border-radius:20px;
}
/*E 30*/
.e30-cont{
    display:flex;
    width:60%;
    flex-wrap:wrap;
}
.e30-cont>img{
    width:60%;
    margin-left:10%;
    border-radius:25px;
}
.e30-cont :first-child{
    width: 30%;
}
/*about us*/
div>h1:first-of-type{
    text-align:center;
}

/*media queries*/
@media (max-width:1528px){
    .make-container{
        grid-template-columns: repeat(3, 30%);
    }
    .model-container{
        display:grid;
        grid-template-columns:100%;
    }
}
 @media (max-width:1120px){
        .make-container{
            grid-template-columns: repeat(2, 50%);
            margin-bottom:10vh;
        }
        
}
@media (max-width:950px){
    nav{
        display:flex;
        position:fixed;
        justify-content:space-between;
        bottom:0;
        width:100%;
        order:-1;
        padding:0;
    }
    nav>a{

    }
    .make-container>a{
        justify-content:center;
    }
}